<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
<section class="main">
    <div class="left">
        <P>YA CHAI AUTA RAMRO INFORMATION</P>
     
    </div>
    <div class="right">
    
    
    <div class="form">
      <form action="/forgetPassword" method="post">  
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" required>
   <button type="submit" id="submit">Send OTP</button>
    </div>
</div>
</form>
</body>
</html>